<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Working Days And Hours</title>

        <!-- Custom fonts for this template -->
    <th:block th:replace="fragments/headers "></th:block>

    <!-- Custom styles for this page -->
    <link th:href="@{/resources/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <th:block th:replace="fragments/sidebar "></th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:replace="fragments/topbar "></th:block>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <h1 class="h3 mb-2 text-gray-800">WDH Config</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-sm-flex align-items-center justify-content-between mb-1">
                                <h6 class="m-0 font-weight-bold text-primary">Working Days & Hours List</h6>
                                <a th:href="@{/administration/workingdays/add}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-plus fa-sm text-white-50"></i> Add Working Days & Hours</a>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Season</th>
                                            <th> Working Days</th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                    <th:block  th:each="season : ${seasons}">
                                        <th:block th:if= "${season.getWorkingDays.size != 0} and ${season.seasonActive == true}">
                                            <tr>
                                                <td th:id="sn+ ${season.id}" th:text="${season.seasonName}"></td>

                                                <td> 
                                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>Day</th>
                                                                <th>Start Hour</th>
                                                                <th>End Hour</th>
                                                                <th>Type</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <th:block  th:each="day : ${season.getWorkingDays}">
                                                            <th:block th:if= "${day.getWorkingHours.size != 0}" >
                                                                <tr>
                                                                    <td th:id="dow+ ${day.dayId}" th:text="${day.getDayOfWeek}" th:val="${day.getDayOfWeek.name}"></td>    
                                                                <th:block  th:each="hour : ${day.getWorkingHours}">
                                                                    <td th:id="ot+ ${hour.hourId}" th:text="${hour.getOpenTime}"></td>
                                                                    <td th:id="ct+ ${hour.hourId}" th:text="${hour.getCloseTime}"></td>

                                                                    <th:block th:switch="${day.workDay}" >

                                                                        <td  th:case="true" th:id="dtype+ ${day.dayId}" th:text="Work"></td>
                                                                        <td  th:case="false" th:id="dtype+ ${day.dayId}" th:text="Off"></td>
                                                                    </th:block>

                                                                    <td> <button id="edit" class="btn" data-toggle="modal" data-target="#exampleModal"   data-th-onclick="'showWorkingDayDetails(' + ${day.dayId} +','+ ${hour.hourId}+','+ ${season.id}+ ')'" style="border:none; background-color: white"><i class="fas fa-fw fa-pen" style="color: #007bff"></i></button></td>
                                                                </th:block>

                                                                </tr>
                                                                </tbody>
                                                                </table>
                                                                </td>


                                                            </th:block>
                                                        </th:block>
                                            </tr>  

                                        </th:block>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Working Day Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="user"  th:action="@{workingdays/edit}" th:object="${workingDay}" method="post">

                                <div class="form-group ">
                                    <label id="dayOfWeekName" for="dayOfWeek" class="col-sm-4 control-label"></label>
                                    <input  id="dayOfWeek" type="hidden" name="dayOfWeek">

                                </div>
                                <th:block th:object="${workingHours}" >
                                    <div class="form-group ">

                                        <label for="startingHour" class="col-sm-4 control-label"> Starting Hour </label>
                                        <input id="startingHour"  type="time"  name="openTime" placeholder="Open Hour"  step="1" class="form-control form-control-user" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" required >

                                    </div>
                                    <div class="form-group ">

                                        <label for="closeHour" class="col-sm-4 control-label"> Ending Hour </label>
                                        <input id="closeHour"  type="time"  name="closeTime" placeholder="Ending Hour" step="1" class="form-control form-control-user" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" required >
                                        <input id="whid" name="hourId" type="hidden"/>
                                    </div>
                                </th:block>
                                <div class="form-group ">
                                    <label for="choices" class="col-sm-4 control-label"> Day Type</label>
                                    <div class="col-sm-4  d-flex align-items-center"  id="seasonactive">
                                        <div class="custom-radio custom-control custom-control-inline">
                                            <input type="radio" name="workDay" id="choice1" value="1" class=" custom-control-input" >
                                            <label class=" custom-control-label" for="choice1"> Work </label>   
                                        </div>
                                        <div class="custom-radio custom-control custom-control-inline">
                                            <input type="radio" name="workDay" id="choice2" value="0" class="custom-control-input" >
                                            <label class="custom-control-label" for="choice2"> Off</label>   
                                        </div>
                                    </div>
                                </div>
                                <input id="dayid" name="dayId" type="hidden"/>        
                                <input id="seasonId" name="season" type="hidden"/>        
                                <button type="submit" class="btn btn-primary float-right">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <th:block th:replace="fragments/footer "></th:block>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
<th:block th:replace="fragments/logoutModal "></th:block>

<th:block th:replace="fragments/templateScripts "></th:block>
<!-- Page level plugins -->
<script th:src="@{/resources/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/resources/js/demo/datatables-demo.js}"></script>
<script th:src="@{/resources/js/new/ac-workingDaysAndHours.js}"></script>
</body>

</html>